{% extends 'OdysseusFrontBundle:User:column2.html.twig' %}

{% block content_title %}MON COMPTE - VOS ACHATS{% endblock content_title %}

{% block column_content %}
    <div class="row">
        <!-- Tableau Achats/Ventes -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
            <table class="table table-condensed table-hover orderList">
                <thead>
                    <tr>
                        <th>N° de commande</th>
                        <th>Date de commande</th>
                        <th>Nb. Articles</th>
                        <th>Prix TTC</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('odysseus_front_user_my_order_details', {'id' : order.id}) }}">C{{order.id}}</a>
                            </td>
                            <td align="center">{{ order.createdAt|date('d/m/Y') }}</td>
                            <td align="center">{{ order.articles|length }}</td>
                            <td align="center">{{ order.getTotal() }} €</td>
                            <td align="center">{{ order.status.name }}</td>
                        </tr>
                        {% else %}
                        <td colspan="7" align="center">
                            Aucun Achat
                        </td>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custompager">
                        <ul class="pagination">
                            {% if pagination is not null %}
                                <ul class="pagination">
                                    {% if pagination.min > 1 %}
                                        <li>
                                            <a href="{{ path('odysseus_front_user_my_orders_page', {'page' : pagination.min-1}) }}">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in pagination.min..pagination.max %}
                                        <li class="{{ pagination.page == i ? 'active' : '' }}">
                                            <a href="{{ path('odysseus_front_user_my_orders_page', {'page' : i}) }}">{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if pagination.max < pagination.total %}
                                        <li>
                                            <a href="{{ path('odysseus_front_user_my_orders_page', {'page' : pagination.max+1}) }}">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {% endblock %}