{% extends 'OdysseusFrontBundle:User:column2.html.twig' %}

{% block content_title %}MON COMPTE - RECAPITULATIF{% endblock content_title %}

{% block column_content %}

    <div class="row">
        <!-- Présentation de l'utilisateur -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-top:19px">Bienvenue sur votre espace personnel</h3>
            <p>Profitez de l'ensemble des fonctionnalités qui vous sont proposées sur votre espace personnel pour consulter, suivre et gérer toutes les données vous concernant.</p>
            <table class="table table-condensed userInfo">
                <tbody>
                    <tr>
                        <td>Nom &amp; Prénom</td>
                        <td>{{ app.user.getDefaultInfos().civility}} {{ app.user.getDefaultInfos().getFullName() }}</td>
                        <td>E-mail</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <td>N° Client</td>
                        <td>{{ app.user.id }}</td>
                        <td>Date d'inscription</td>
                        <td>{{app.user.getCreatedAt()|date('d/m/Y')}}</td>
                    </tr>
                    <tr>
                        <td>Achats effectués</td>
                        <td>{{ app.user.orders|length }}</td>
                        <td>Ventes effectuées</td>
                        <td>{{ countVentes }}</td>
                    </tr>
            </table>
        </div>

        <!-- Tableau Achats/Ventes -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 style="margin-top:19px">Derniers Achats/Ventes</h4>
            <table class="table table-condensed table-hover orderList">
                <thead>
                    <tr>
                        <th>N° de commande</th>
                        <th>Type d'opération</th>
                        <th>Date de commande</th>
                        <th>Vendeur / Acheteur</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article  in lastTransactArticle %}
                        {%if article.model is not null %}
                            <!-- Vente -->
                            <tr>
                                <td><a href="{{ path('odysseus_front_user_my_order_details', {'id' : order.id}) }}">C{{order.id}}</td>
                                <td>Vente</td>
                                <td>{{ article.order.createdAt|date('d/m/Y') }}</td>
                                <td>{{ article.order.user.infos.lastName|capitalize}} {{ article.order.user.infos.firstName}}</td>
                                <td>{{ order.status.name }}</td>
                            </tr>
                        {%else%}
                            <!-- Achat -->
                            <tr>
                                <td><a href="{{ path('odysseus_front_user_my_order_details', {'id' : order.id}) }}">C{{order.id}}</td>
                                <td>Achat</td>
                                <td>{{ article.order.createdAt|date('d/m/Y') }}</td>
                                <td>{{ article.model.user.infos.lastName|capitalize}} {{ article.model.user.infos.firstName}}</td>
                                <td>{{ order.status.name }}</td>
                            </tr>
                        {%endif%}

                        {% else %}
                        <td colspan="7" align="center">
                            Aucun élement récent
                        </td>
                        {%endfor%}
                            </tbody>
                        </table>
                    </div>

                </div>

                {% endblock %}