{% extends 'OdysseusFrontBundle::layout.html.twig' %}
{% block content %}
<style>
    
    .master-product-image{
        width:539px;
        height:360px;
        background:no-repeat center;
        background-size:cover;
        overflow:hidden;
        border:1px solid #AAA;
    }
    .master-product-image>img{
        opacity:0;
    }
    
    .min-product-image{
        width:100px;
        height:52px;
        background:no-repeat center;
        background-size:cover;
        overflow:hidden;
        border:1px solid #AAA;
    }
    .min-product-image>img{
        opacity:0;
    }
</style>
<div class="row">
    <!-- Titre de la page -->
    <div class="col-lg-12">
        <h2>FICHE PRODUIT</h2>
    </div>

    <!-- Images du produit -->
    <div class="col-sm-6">
        <div class="product-image-large slider slider-for">
            {% for image in product.image %}
            <div class="master-product-image" style="background-image:url('{{ image.url }}');">
                <img src="{{ image.url }}"/>
            </div>
            {% endfor %}
        </div>
        <div id="product_gallery" class="slider slider-nav">
            {% for image in product.image %}
			
            <div class="min-product-image" style="background-image:url('{{ image.url }}');cursor:pointer;">
                <img src="{{ image.url }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Détails & Options du produit -->
    <div class="col-sm-6 product-details">
        <h4>{{ product.article.brand|capitalize }} - {{ product.article.name }}</h4>
        <div class="price">
            {{ product.price|number_format(2, '.', ',') }} €
        </div>
        <h5>Description : </h5>
        <div style="min-height:190px;">
            <p> {{product.article.description }}</p>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div style="text-align:right;">
            <a href="{{ path('odysseus_front_product_create', {'category':product.article.category.url, 'name':(product.article.name|forUri|raw), 'id' : product.id}) }}" class="btn btn-greend"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> J'ai un exemplaire à vendre</a>
            <a href="{{ path('odysseus_front_cart_add', {'product_name':(product.article.name|forUri|raw), 'product_id' : product.id}) }}" class="btn btn-greend"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier</a>
        </div>
        {% endif %}
    </div>

    
    <!-- Onglets -->
    <div class="col-lg-12">
        <h2>VENDU PAR D'AUTRES VENDEURS (<a href="{{ 
                        path('odysseus_front_product_more',{
                            'id':product.id,
                            'name':product.article.name|forUri|raw,
                            'category':product.article.category.url
                        }) 
                    }}">Voir tout</a>)</h2>
        <div class="row">
            {% for row in more_models %}
                    {% if row.image is not empty %}
                        {% set src = row.image[0].url %}
                    {% elseif row.article.image is not empty %}
                        {% set src = row.article.image[0].url %}
                    {% else %}
                        {% set src = asset('/bundles/odysseusfront/images/product1.jpg') %}
                    {% endif %}
            <!-- Article -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="shop-item">
                    <img src="{{ asset('/bundles/odysseusfront/images/ruban.png') }}" class="ribbon"/>
                    <div class="image">
                        <a href="{{ 
                                    path('odysseus_front_product_details',{
                                        'id':row.id,
                                        'name':row.article.name|forUri,
                                        'category':row.article.category.url
                                    }) 
                                }}">

                            <div style="background:url('{{ src }}') no-repeat center;background-size:cover;height:191px;border:1px solid #EEE;">
                                <img src="{{ src }}" alt="{{ row.article.name }}" title="{{ row.article.name }}" height="191" style="opacity:0">
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3>
                            <a href="{{ 
                                    path('odysseus_front_product_details',{
                                        'id':row.id,
                                        'name':row.article.name|forUri|raw,
                                        'category':row.article.category.url
                                    }) 
                                }}">{{ row.article.name }}</a>
                        </h3>
                    </div>
                    <div class="price">
                        <span class="price-text"><span style="color: #00AA00;">Disponible</span> à partir de</span>
                                                    {{ row.price }} €
                    </div>

                    <div class="actions">
                        <a href="{{ 
                                    path('odysseus_front_product_details',{
                                        'id':row.id,
                                        'name':row.article.name|forUri,
                                        'category':row.article.category.url
                                    }) 
                                }}" class="btn btn-default">
                            <i class="icon-shopping-cart icon-white"></i> Plus de détails
                        </a> 
                        <a href="{{ path('odysseus_front_cart_add', {'product_name':(row.article.name|forUri|raw), 'product_id' : row.id}) }}" class="btn btn-greend">
                            <i class="icon-shopping-cart icon-white"></i> Ajouter au panier
                        </a>
                    </div>
                </div>
            </div>
            
            {% else %}
            <center>Pas d'autres articles disponibles</center>
            {% endfor %}
        </div>
       <div class="row" style="text-align:right">
            <div class="col-xs-12">
                <a href="{{ 
                        path('odysseus_front_product_more',{
                            'id':product.id,
                            'name':product.article.name|forUri|raw,
                            'category':product.article.category.url
                        }) 
                    }}">Voir tout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}