{% extends 'OdysseusFrontBundle::layout.html.twig' %}
{% block content %}
<div class="row">
    <!-- Titre de la page -->
    <div class="col-lg-12">
        <h2>LISTE DES PRODUITS - INFORMATIQUE</h2>
    </div>

    <!-- Parametres de filtrage -->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar">
            <!-- Filtre par marque -->
            <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#marque">MARQUE</a></h4>
            <ol id="marque" class="target-collapse collapse in">
                {% for brand in products.brands %}
                <li>
                    <a href="#" >{{ brand[0].brand }} ({{ brand.total }})</a>
                </li>
                {% endfor %}
            </ol>
            <!-- Filtre par prix -->
            <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#prix">PRIX</a></h4>
            <ol id="prix" class="target-collapse collapse in">
                <li><a href="#">Moins de 100 €</a></li>
                <li><a href="#">100 € - 200 €</a></li>
                <li><a href="#">200 € - 300 €</a></li>
                <li><a href="#">300 € - 400 €</a></li>
                <li><a href="#">400 € - 500 €</a></li>
                <li><a href="#">Plus de 500 €</a></li>
            </ol>
            <!-- Filtre par Etat -->
            <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#etat">ETAT</a></h4>
            <ol id="etat" class="target-collapse collapse in">
                {% for status in products.statuses %}
                <li>
                    <a href="#">{{ status[0].name }} ({{ status.total }})</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <!-- Listing de produits -->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">

            <!-- Parametres d'affichage -->
            <div class="col-lg-12">	
                <div class="productFilter clearfix">
                    <div class="sortBy inline pull-left">
                        <form method="GET">
                            Trier par
                            <select name="sort" id="category_sort">
                                <option value="name-asc" {{ sort=='name-asc' ? 'selected':'' }}>Nom (A-Z)</option>
                                <option value="name-desc" {{ sort=='name-desc' ? 'selected':'' }}>Nom (Z-A)</option>
                                <option value="price-asc" {{ sort=='price-asc' ? 'selected':'' }}>Prix (Moins cher)</option>
                                <option value="price-desc" {{ sort=='price-desc' ? 'selected':'' }}>Prix (Plus cher)</option>
                                <option value="date-asc" {{ sort=='date-asc' ? 'selected':'' }}>Date (Moins récent)</option>
                                <option value="date-desc" {{ sort=='date-desc' ? 'selected':'' }}>Date (Plus récent)</option>
                            </select>
                        </form>
                        <script>
                            $(function() {
                                $('#category_sort').change(function() {
                                    $(this).parent().submit();
                                });
                            });
                        </script>
                    </div>

                    <div class="showItem inline pull-left">
                        <form method="GET">
                            Afficher
                            <select name="npp" id="category-npp">
                                <option value="5" {{ npp==5 ? 'selected':'' }}>5 produits</option>
                                <option value="10" {{ npp==10 ? 'selected':'' }}>10 produits</option>
                                <option value="20" {{ npp==20 ? 'selected':'' }}>20 produits</option>
                            </select>
                        </form>
                        <script>
                            $(function() {
                                $('#category-npp').change(function() {
                                    $(this).parent().submit();
                                });
                            });
                        </script>
                    </div><!--end sortBy-->

                    <div class="displaytBy inline pull-right">
                        <div class="btn-group">
                            <a href="{{ listView=='grid' ? '#' : path('odysseus_category_index_page', {'category_name':category_name, 'list_view':'grid', 'page':(page==1?null:page)}) }}" class="btn btn-{{listView=='grid' ? 'greend active':'default' }}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
                            <a href="{{ listView=='list' ? '#' : path('odysseus_category_index_page', {'category_name':category_name, 'list_view':'list', 'page':(page==1?null:page)}) }}" class="btn btn-{{listView=='list' ? 'greend active':'default' }}"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
                        </div>
                    </div><!--end displaytBy-->
                </div>
            </div>

            {% for row in products.rows %}
                {% if row.image is not empty %}
                    {% set src = row.image[0].url %}
                {% elseif row.models[0].image is not empty %}
                    {% set src = row.models[0].image[0].url %}
                {% else %}
                    {% set src = asset('/bundles/odysseusfront/images/product1.jpg') %}
                {% endif %}
                {% if listView == 'grid' %}
            <!-- Article -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="shop-item">
                    <div class="image">

                        <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}">

                            
                            <div style="background:url('{{ src }}') no-repeat center;background-size:cover;height:191px;border:1px solid #EEE;">
                                <img src="{{ src }}" alt="{{ row.name }}" title="{{ row.name }}" height="191" style="opacity:0">
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3>

                            <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}">{{ row.name }}</a>

                        </h3>
                    </div>
                    <div class="price">
                        <span class="price-text"><span style="color: #00AA00;">Disponible</span> à partir de</span>
                                        {{ row.models[0].price }} €
                    </div>
                    <!--<div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
                    </div>-->
                    <div class="actions">

                        <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}" class="btn btn-default"><i class="icon-shopping-cart icon-white"></i> Plus de détails</a> 
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('odysseus_front_cart_add', {'product_name':(row.name|forUri|raw), 'product_id' : row.models[0].id}) }}" class="btn btn-greend"><i class="icon-shopping-cart icon-white"></i> Ajouter au panier</a>
                        {% endif %}

                    </div>
                </div>
            </div>
                {% else %}

            <!-- Article ligne -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="shop-item line-item">
                    <div class="image">

                        <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}">

                            <div style="background:url('{{ src }}') no-repeat center;background-size:cover;height:131px;width:254px;border:1px solid #EEE;">
                                <img src="{{ src }}" alt="{{ row.name }}" title="{{ row.name }}" height="131" width="254" style="opacity:0">
                            </div>
                        </a>
                    </div><!--
                    --><div class="inline-div">
                        <div class="title">
                            <h3>

                                <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}">{{ row.name }}</a>

                            </h3>
                        </div>
                        <div class="price">
                            <span class="price-text"><span style="color: #00AA00;">Disponible</span> à partir de</span>
                                    {{ row.models[0].price }} €
                        </div>
                    </div><!--
                    --><div class="actions">

                        <a href="{{ 
                                path('odysseus_front_product_details',{
                                    'id':row.models[0].id,
                                    'name':row.name|forUri,
                                    'category':row.category.url
                                }) 
                            }}" class="btn btn-default"><i class="icon-shopping-cart icon-white"></i> Plus de détails</a> 
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('odysseus_front_cart_add', {'product_name':(row.name|forUri|raw), 'product_id' : row.models[0].id}) }}" class="btn btn-greend"><i class="icon-shopping-cart icon-white"></i> Ajouter au panier</a>
                        {% endif %}

                    </div>
                </div>
            </div>
                {% endif %}
            {% else %}
            <div class="col-xs-12">
                <center>
                    Aucun article disponible pour cette Catégorie.
                </center>
            </div>
            {% endfor %}
            
            {% if products.rows is not empty %}
            <!-- Pagination -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custompager">
                <ul class="pagination">
                    {% if products.pagination.min > 1 %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in products.pagination.min..products.pagination.max %}
                    <li class="{{ i == products.pagination.cur ? 'active' : '' }}">
                            {% if i == products.pagination.cur %}
                        <span>{{ i }}</span>
                            {% else %}
                        <a href="{{ path('odysseus_category_index_page', {'page':i, 'category_name':category_name}) }}">{{ i }}</a>
                            {% endif %}
                    </li>
                    {% endfor %}
                    {% if products.pagination.max < products.pagination.count %}
                    <li><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}