{% extends 'OdysseusAdminBundle::column2.layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h1 class="page-header">Les articles</h1>
        </div>
    </div>
    <div class="panel panel-default">

        <!-- Default panel contents -->
        <div class="panel-heading">Articles ({{ articles|length }}/<strong>{{ count }}</strong>)</div>

        <!-- Table -->
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Désignation</th>
                    <th style="text-align:center;">Vendeur</th>
                    <th style="text-align:center;">Catégorie</th>
                    <th style="text-align:center;">Etat</th>
                    <th style="text-align:center;">Date</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for model in articles %}
                    <tr data-id="{{ model.article.id}}">
                        <td style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">{{ model.article.brand|capitalize }} - {{ model.article.name }}</td>
                        <td style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
                            <a href="{{ path('odysseus_admin_user_update', {'id': model.user.id}) }}">{{ model.user.getFullName() }}</a>
                        </td>
                        <td align="center" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">{{ model.article.category.name }}</td>
                        <td align="center">{{ model.article.validatedAt is not null ? 'Validé' : 'Non validé' }}</td>
                        <td align="center">{{ model.article.createdAt|date('d/m/Y') }}</td>
                        <td align="right">
                            <div class="btn-group" role="group" aria-label="...">
                                
                                <a onclick="return confirm('Voulez-vous vraiment confirmer ce produit');" href="{{ path('odysseus_admin_article_validate', {'id':model.id}) }}" class="{{ model.article.validatedAt is null ? '' : 'disabled' }} btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                                <a href="{{ path('odysseus_admin_article_update', {'id':model.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <a onclick="return confirm('Voulez-vous vraiment supprimer?');" href="{{ path('odysseus_admin_article_delete', {'id':model.id}) }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" align="center">
                            Aucun article dans la base de données
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="row text-center">
        <div class="col-lg-12">
            {% if pagination is not null %}
                <ul class="pagination">
                    {% if pagination.min > 1 %}
                        <li>
                            <a href="{{ path('odysseus_admin_article_page', {'page' : pagination.min-1}) }}">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in pagination.min..pagination.max %}
                        <li class="{{ pagination.page == i ? 'active' : '' }}">
                            <a href="{{ path('odysseus_admin_article_page', {'page' : i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if pagination.max < pagination.total %}
                        <li>
                            <a href="{{ path('odysseus_admin_article_page', {'page' : pagination.max+1}) }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block operations %}

    <li class="list-group-item">
        <a href="{{ path('odysseus_admin_category') }}">Voir les catégories</a>
    </li>

    <li class="list-group-item">
        <a href="{{ path('odysseus_admin_category') }}">Nouvelle catégorie</a>
    </li>
{% endblock operations %}